*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-container{
    display:flex;
    flex-wrap: wrap;
}
.container{
    position: absolute;
    top: 88px;
    left:3rem;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 10% 90%;
    z-index: 0;
    width: 96%;
   
}

.orders{
    display: flex;
    padding-top: 20px;
     /* justify-content: flex-start; */
     align-items: start; 
    margin-left: 5rem;
    height: 0px;
    margin-bottom: 250px;
}
.noOrders{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38.3rem;

}

.t{
    height: 500px;
    overflow-y: scroll;
    width: 1200px;
}

.t .pastOrdertable{
    border-collapse: collapse;
    width: 1200px;
    height: 100%;
    margin-left: 5%;
    overflow-y: scroll;
}
.pastOrdertable thead tr{
    background-color:  #383737;
}

.pastOrdertable thead tr th{
    width: 11%;
    color: #FFFFFF;
    padding: 0.5rem;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.pastOrdertable tbody tr td{
    padding: 0.5rem;
    width: 10%;
    text-align: center;
    box-shadow: 0 2px #EAEDF0 ;
    color: #1E2022;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#date-time{
width: 15%;
}
.create-search{
    grid-column: 3/4;
    width: 84%;
    display: flex;
    gap: 10px;
    padding-top: 20px;
    justify-content: end;
    align-items: start;
    margin-top: 0;
    height:0px;
}
.search{
    margin-left: 20px;
}
.link-cancel{
    background-color: #ffff;
    border: 1px solid #ffff;
    color: red;
}
#cancelled-red{
    color: red;
}

.create-btn{
    padding: 6px 17px 6px 17px;
    color: #5861AE;
    border: 1px solid #5861AE;
}

.empty-create-button{
    position: absolute;
    padding: 6px 17px 6px 17px;
    color: #5861AE;
    border: 1px solid #5861AE;
    top: 21rem;
    left: 45rem;

}